.nav-enlace {
    background: lightblue;
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: lightskyblue;
}

nav {
    background: lightseagreen;
    padding: 10px;
    display: flex;
    /* justify-content: center; 
    justify-content: space-between;
    justify-content: space-around;
    justify-content: flex-end; */
    justify-content: space-around;
}

.nav-boton {
    background: lightseagreen;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 600px) {
    nav {
        background: lightseagreen;
        flex-direction: column;
    }
    .nav-enlace {
        margin: 10px 0;
    }
    .nav-boton {
        display: inline-block;
    }
    .desaparece {
        display: none;
    }
  }